@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #F0F0F0;
}

/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1000;
  width: 100%;
  background-color: #323232;
  padding: 10px 0;
}

/* Navbar Circles */
.nav-circle {
  width: 150px;
  height: 150px;
  background-color: #0092CC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

.nav-circle span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #F0F0F0;
  white-space: nowrap; /* Ensure the word doesn’t wrap */
  line-height: 1.2; /* Adjust for better centering */
}

.nav-circle:hover {
  background-color: #FF3333;
}

/* Page Container Styling */
.page-container {
  max-width: 800px;
  margin: 100px auto 20px; /* Adjusted top margin */
  padding: 20px;
  background-color: #282828;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.page-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0092CC;
}

.page-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}